---
layout: page
---
<html>
    <meta>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Mono">
    </meta>
    <body class="comein" style="padding-top: 2%;">
        <div class="section-header" style="color: #EA6B8D">Education</div>
        <div class="content">
            {% for degree in site.data.education %}
                <h4>{{ degree.university }} - {{ degree.name }}</h4>
                <div style="margin-left: 10px;">
                    {% if degree.minor %}
                    <h5>{{ degree.minor }} Minor</h5>
                    {% endif %}
                    {% if degree.end %}
                    <p>{{ degree.start }} - {{ degree.end }}</p>
                    {% else %}
                    <p>{{ degree.start }} - Current (Expected {{ degree.expected }})</p>
                    {% endif %}
                    <p>GPA: {{ degree.gpa }}</p>
                </div>
            {% endfor %}
            <br>
        </div>

        <div class="section-header" style="color: #928ADE;">Work</div>
        <div class="content hiddencontent">
            {% for job in site.data.work %}
            <h4><b>{{ job.organization }}</b> — <i>{{ job.title }}</i></h4>
            <h5><i>{{ job.start_month_year }} - {{ job.end_month_year }}</i></h5>
            <ul>
                {% for accomplishment in job.accomplishments %}
                <li>{{ accomplishment }}</li>
                {% endfor %}
            </ul>
            <br>
            {% endfor %}
        </div>
        <div class="show_more">
            <a class="coolunderline" href="" onclick="return false;">Show more</a>
        </div>
        
        <div class="section-header" style="color: #94DA9A;">Projects</div>
        <div class="content hiddencontent">
            {% for project in site.data.projects %}
                <h4 style="display: inline-block; vertical-align: middle;"><b>{{ project.name }}</b></h4>
                {% if project.github_link %}
                    <a class="pointyboi github" href="{{ project.github_link }}"><span>GitHub</span></a>
                {% endif %}
                <div style="margin-left: 20px;">
                    <h5>{{ project.description }}</h5>
                    <h5>Experience Gained:</h5>
                    <ul>
                        {% for experience in project.experience_gained %}
                        <li>{{ experience }}</li>
                        {% endfor %}
                    </ul>
                    <h5>Contributions:</h5>
                    <ul>
                        {% for contribution in project.contributions %}
                        <li>{{ contribution }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            <br>
        </div>
        <div class="show_more">
            <a class="coolunderline" href="" onclick="return false;">Show more</a>
        </div>

        <div class="section-header" style="color: #F8E67A;">Skills</div>
        <div class="content hiddencontent">
            {% for skill_level in site.data.skills %}
                <h4>{{ skill_level.name }}</h4>
                <ul>
                {% for skill in skill_level.skills %}
                    <li>{{ skill }}</li>
                {% endfor %}
                </ul>
            {% endfor %}
            <br>
        </div>
        <div class="show_more">
            <a class="coolunderline" href="" onclick="return false;">Show more</a>
        </div>
    </body>
</html>