<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	{% if page.description %}
	<meta name="description" content="{{ page.description }}">
	{% endif %}
	<meta name="author" content="{{ site.author.name }}">

	<!-- Enable responsive viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Le styles -->
	<link href="{{ site.BASE_PATH }}/assets/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/resources/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/resources/syntax/syntax.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/css/style.css" rel="stylesheet">

	<!-- Le fav and touch icons -->
	<!-- Update these with your own images
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	-->

	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.BASE_PATH }}/feed.xml">
</head>

<body>
	<nav class="navbar navbar-default visible-xs" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header" style="display: table;">
			<div class="mobile-image" style="display: table-cell; width: 40%;">
				<img src="{{ site.sidebar_image }}" class="img-circle" width="100%"/>
			</div>
			<div id="contact-list" class="mobile-menu comedown">
				<h3>{{ site.author.name }}</h3>
				{% if site.author.bio %}
					<div id="bio" class="text-center comedown">
						{{ site.author.bio }}
					</div>
				{% endif %}
				<ul class="list-unstyled list-inline">
					{% if site.author.github %}
					<li>
						<a class="btn btn-default btn-sm" href="https://github.com/{{ site.author.github }}">
							<i class="fa fa-github-alt fa-lg"></i>
						</a>
					</li>
					{% endif %}
					{% if site.author.twitter %}
					<li>
						<a class="btn btn-default btn-sm" href="https://twitter.com/{{ site.author.twitter }}">
							<i class="fa fa-twitter fa-lg"></i>
						</a>
					</li>
					{% endif %}
					{% if site.author.email %}
					<li>
						<a class="btn btn-default btn-sm" href="mailto:{{ site.author.email }}">
							<i class="fa fa-envelope fa-lg"></i>
						</a>
					</li>
					{% endif %}
					{% if site.author.github %}
					<li>
						<a class="btn btn-default btn-sm" href="https://linkedin.com/in/{{ site.author.linkedin }}">
							<i class="fa fa-linkedin fa-lg"></i>
						</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>

	<div class="col-sm-3 sidebar hidden-xs" style="{% if site.sidebar_background_image %}background: url({{site.sidebar_background_image}}) no-repeat !important;{% endif %}">
		{% include sidebar.html %}
		<footer>
			<hr/>
			<p>
				&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
			</p>
		</footer>
	</div>

	<div class="col-sm-9 col-sm-offset-3" style="max-width: 800px;">
		{{ content }}

	</div>

	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/app.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
</body>
</html>
