<!-- sidebar.html -->
<header class="sidebar-header comein" role="banner">
	<a href="{{ site.BASE_PATH }}/">
		<img src="../assets/profile_picture.jpg" class="img-circle" />
	</a>
	<h3 class="title">
        <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
    </h3>
</header>

{% if site.author.bio %}
<div id="bio" class="text-center comedown">
	{{ site.author.bio }}
</div>
{% endif %}

<div id="contact-list" class="text-center comedown">
	<ul class="list-unstyled list-inline">
		{% if site.author.github %}
		<li>
			<a class="btn btn-default btn-sm" href="https://github.com/{{ site.author.github }}">
				<i class="fa fa-github-alt fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.twitter %}
		<li>
			<a class="btn btn-default btn-sm" href="https://twitter.com/{{ site.author.twitter }}">
				<i class="fa fa-twitter fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.email %}
		<li>
			<a class="btn btn-default btn-sm" href="mailto:{{ site.author.email }}">
				<i class="fa fa-envelope fa-lg"></i>
			</a>
		</li>
		{% endif %}
	</ul>
</div>
<div id="page-menu" class="comedown">
	<a href="../index.html" style="color: #FFFFFF; text-underline-position: none;">HOME</a><br>
	<a href="../projects.html">PROJECTS</a>
</div>
<!-- sidebar.html end -->
