@import url(//fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,latin-ext);
@import url(//fonts.googleapis.com/css?family=Lato);

body{
	color: #cbcbcb;
	background-color: #222222;
	font-family: 'Lato';
}

.sidebar {
	position: fixed;
	top: 0px;
	padding-top: 10%;
	background-color: #171717;
	color: #fff;
}

.sidebar-header {
	text-align: center;
	margin-bottom: 10px;
}
.sidebar-header .title{
	letter-spacing: 3px;
}

.sidebar-header .title a{
	text-decoration: none;
	color: #fff;
}

.navbar-default {
	background-color: #222222;
	border-color: #00000000;
}

a.nav-link {
	padding-bottom: 5px;
	padding-top: 7px;
	color: #aaa;
}
a.nav-link i{
	font-size: 16px;
}
a.nav-link:hover { color: #777; }

#bio {
	font-family: "Fira Mono";
	font-size: 11px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#contact-list li .fa,
article .share .btn {
	-o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  transition:color .2s ease-out, background 1s ease-in;
}
#contact-list li:hover .fa-twitter,
article .share .twitter:hover {
	color: #00ACEE;
	border-color: #00ACEE;
}
#contact-list li:hover .fa-linkedin {
	color: #1D87BD;
}
#contact-list li:hover .fa-envelope {
	color: #E93E30;
}

.page-header {
	color: #cbcbcb;
	font-family: 'Fira Mono';
}

@media only screen and (min-width: 768px) {
    .page-header{
        margin-right: 70px;
    }
}

article{
	margin-bottom: 40px;
}

.article_body{
	margin-top: 20px;
	margin-bottom: 20px;
}

.post-date {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 3px;
}

article {
	padding: 0 5% 0;
}

article.home div a, article.home pre a { color: #2c3e50; }
article.home div a:hover, article.home pre a:hover { color: #2c3e50; text-decoration: none; }
article img { max-width: 100%; }

h1,h2,h3 { font-family: 'Fira Mono'; }
article.home h1,
article.home h2,
article.home h3,
article.home h4,
article.home h5,
article.home h6 {
	font-family: 'Fira Mono';
	color: #f2756a;
}

h4, h5,h6 { font-family: 'Lato'; }

article.home h1 a,
article.home h2 a,
article.home h3 a,
article.home h4 a {
	color: #f2756a;
}
article.home h1 a:hover,
article.home h2 a:hover,
article.home h3 a:hover,
article.home h4 a:hover {
	color: #e74c3c;
}

.author .author-image {
  float: left;
  margin-right: 20px;
}

footer {
	position: fixed;
	bottom: 0;
	font-family: 'Lato';
}

hr {
	border-top: #cbcbcb;
}

/* nav-vertical-tabs component */
.nav-tabs-vertical {
    border-right: 1px solid #ddd;
}

.nav-tabs-vertical li {
    margin-right: -1px;
}

.nav-tabs-vertical>li.active>a, .nav-tabs-vertical>li.active>a:hover, .nav-tabs-vertical>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right-color: transparent;
}

.nav-tabs-vertical>li>a {
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
}

.badge { background: #F2756A; }

#nav-menu{
    position: fixed;
    top: 45px;
    right: 45px;
    z-index: 2000;
}
#nav-menu .dropdown-menu {
    left: inherit;
    right: 0px;
}

ul.dropdown-menu>li>a>i.fa {
    width: 1.3em;
}

.pointyboi {
	border-radius: 4px;
	background-color: none;
	border: none;
	/* color: #000000; */
	text-align: center;
	/* font-size: 28px; */
	padding: 0px;
	/* width: 200px; */
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.pointyboi span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	/* color: #56789b; */
	font-family: 'Lato', sans-serif;
	/* font-size: x-large; */
}

.pointyboi span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.pointyboi:hover span {
	padding-right: 25px;
}

.pointyboi:hover span:after {
	opacity: 1;
	right: 0;
}
@keyframes yeet {
	0%   {background-color: #00ACEE}
	50%  {background-color: #C13929}
	100% {background-color: #00ee00}
}

.yeet {
	background-color: #00ACEE;
	animation-name: yeet;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes entrance {
	/*from {
		opacity: 0;
		background-blend-mode: overlay;
		position: relative;
		right: 100px;
	}
	to {
		opacity: 1;
		background-blend-mode: overlay;
		position: relative;
		right: 0px;
	}*/
	0% {
		opacity: 0;
		position: relative;
		right: 100px;
	}
	100% {
		opacity: 1;
		position: relative;
		right: 0px;
	}
}

.comein {
	animation-name: entrance;
	animation-timing-function: ease;
	animation-duration: .75s;
}

@keyframes fadeindown {
	0% {
		position: relative;
		opacity: 0;
		bottom: 50px;
	}
	75% {
		opacity: 0;
	}
	100% {
		position: relative;
		opacity: 1;
		bottom: 0px;
	}
}

.comedown {
	animation-name: fadeindown;
	animation-duration: .75s;
	animation-timing-function: ease-out;
}

@keyframes bouncein {
	0% {
		animation-timing-function: ease;
		position: relative;
		opacity: 0;
		right: 100px;
	}
	80% {
		position: relative;
		opacity: 1;
		right: -5px;
	}
	100% {
		animation-timing-function: ease;
		position: relative;
		opacity: 1;
		right: 0px;
	}
}

.comeinbounce {
	animation-name: bouncein;
	animation-duration: .5s;
}

@keyframes bounceind {
	0% {
		animation-timing-function: ease;
		position: relative;
		opacity: 0;
		right: 100px;
	}
	50% {
		animation-timing-function: ease;
		position: relative;
		opacity: 0;
		right: 100px;
	}
	90% {
		position: relative;
		opacity: 1;
		right: -5px;
	}
	100% {
		animation-timing-function: ease;
		position: relative;
		opacity: 1;
		right: 0px;
	}
}

.comeinbounced {
	animation-name: bounceind;
	animation-duration: 1s;
}

.delayed {
	animation-delay: 2s;
}

.github {
	background-color: #333;
	color: #cbcbcb;
	font-size: 16px;
	width: 90px;
	display: inline-block;
  	vertical-align: middle;
}

.github:hover, .github:visited, .github:active {
	text-decoration: none;
	color: inherit;
}

.btn-default {
	background-color: #272727;
	color: #cbcbcb;
	border: none;
}

#page-menu {
	padding-top: 10px;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
	font-size: 20px;
	font-family: "Lato";
	letter-spacing: 2px;
}

.coolunderline {
	position: relative;
	color: #FFF;
	text-decoration: none;
}

.coolunderline:hover {
	color: #FFF;
	text-decoration: none;
}

.coolunderline:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: #FFF;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

.coolunderline:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

#frontpagetext {
	font-size: 18px;
	font-family: "Lato", sans-serif;
	color: #cbcbcb;
}

.content {
	padding: 0 18px;
	/* background-color: rgba(255, 255, 255, 0.1); */
	color: #cbcbcb;
	/* box-shadow: inset 0 0 10000px 10px rgba(255, 255, 255, 0.1); */
}

.hiddencontent {
	height: 250px;
	overflow: hidden;
	position: relative;
}

.hiddencontent:after {
	content:"";
    position:absolute;
    top:210px;
    left:0;
    height:40px;
    width:100%;
    background: linear-gradient(rgba(0,0,0,0), #222222);
}

.showncontent {
	height: auto;
}

.show_more {
	padding: 10px 10px;
}

.show_more a {
	color: #cbcbcb;
	font-family: 'Lato';
	font-size: 20;
	text-decoration: none;
}

.section-header {
	background-color: rgba(255, 255, 255, 0.05);
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 24px;
	font-family: 'Fira Mono';
}

.mobile-image {
	padding: 5%;
}

.mobile-menu {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
